<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-9" >
        <% if current_user?(@user) %>
          <%= render 'shared/user_info_mypage' %>
        <% else %>
          <%= render 'shared/user_info_other' %>
        <% end %>
  </div>
</div>

<div class="row">
   <div id="posted_contents">
     <div class="col-md-8">
         <%= render @microposts %>
    </div>
  </div>
</div>

  <script>
    $("#posted_contents .microposts").infinitescroll({
      loading: {
      img:     "http://www.mytreedb.com/uploads/mytreedb/loader/ajax_loader_blue_48.gif",
      msgText: "loading..."
    },
    navSelector: "nav.pagination",
    nextSelector: "nav.pagination a[rel=next]",
    itemSelector: "#posted_contents .microposts" /* このDOMに差し掛かった時に、次のページのロードが始まる*/
});
  </script>
