@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #fafafa;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 100px;
  background-color: #fafafa !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*header*/

/* icon */
.glyphicon-user {
  font-size:25px;
  margin-top:-1.5em;
  margin-right:60px;
  float:right;
  color:#000000;
  &:hover {
  color: #999999;
 }
}

.glyphicon-plus {
  font-size: 25px;
  margin-top:-1.5em;
  margin-right:110px;
  float:right;
  color:#000000;
  &:hover {
    color: #999999;
  }
}


/* navigation bar */
.navbar-default {
  background-color:#ffffff !important;
  border-bottom-width:1px !important;
  border-bottom-style: solid !important;
  border-bottom-color:rgba(0,0,0, 0.098) !important;
  min-height: 77px;
  max-height: 77px;
}

/*serch console*/
.form-inline {
  background-color:#ffffff;
  vertical-align:middle;
  margin-top:1em;
  border-radius:3px;
  color:#262626;
  font-size:14px;
  outline:0;
  z-index:1;
  text-align:center;
  padding: 4px 10px 3px 26px;
}
.form-control {
  text-align:center;
}

.form-control_login {
  text-align:left;
  height:30px !important;
}


#logo {
  font-family:'billabong';
  font-size:35px;
  color:#000000;
  float: left;
  margin-right: 5px;
  padding-top:10px;
  &:hover {
    text-decoration: none;
  }
}

#top_logo {
  font-family: 'billabong';
  font-size:4em;
  color: #000000;
  float:left;
  text-align:center;
  margin-right:10px;
  margin-top:1em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.block1 {
  margin-left:150px;
  height:auto;
   .block2 {
     height:auto;
     margin-left:200px;
     .name {
       margin-left:2em;
       float:left;
       font-size:30px;
       height:30px;
      }
     .edit {
       float:left;
       font-size:15px;
       margin-left:2.0em;
       margin-top:0.3em;
       height:30px;
       &:hover {
          text-decoration: none;
        }
      }
      .glyphicon-cog {
        font-size:25px;
        float:left;
        margin-left:0.5em;
        margin-top:0.3em;
        height:30px;
        color:#000000;
        &:hover {
          color:#999999;
        }
      }
      .fllw {
       clear:both;
       position:relative;
       top:-40px;
       left:3em;
       color: black;
       font-size:18px;
       a {
         color:black;
         &:hover {
           text-decoration: none;
           color: blue;
         }
       }
      } 
    }
  }

/*top_page*/
  .top1 {
    width:100%;
    float:left;
    margin-left:2em;
    border-bottom:solid;
    border-color:#EFEFEF;
    border-width:1px;
    .name_top {
      float:left;
      margin-left:10px;
      font-size:15px;
      font-weight:600;
    }
  }


.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.post_count {
  overflow:auto;
  color: black;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */
/* ボタンサイズも入ってる */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.checkbox {
  margin-top:-10px;
  margin-bottom:10px;
  span {
    margin-left:20px;
    font-weight:normal;
  }
}

#session_remember_me {
  width:auto;
  margin-left:0;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
  }
  .user_profile {
    background-color:#ffffff;
    height:60px;
    width:614px;
    border:solid 1px #EFEFEF;
    padding-top:15px;
    padding-left:20px;
    .user {
      padding-top:20px;
      color:black;
      font-size:15px;
      &:hover {
        color:blue;
        text-decoration: none;
      }
    }
  }
  .picture {
    background-color:#ffffff;
    display:flex;
    align-items:top;
    border-top:solid 1px #EFEFEF;
    border-left:solid 1px #EFEFEF;
    border-right:solid 1px #EFEFEF;
    height:614px;
    width:614px;
  }
  .favorite {
    background-color:#ffffff;
    display:flex;
    align-items:center;
    height:auto;
    width:614px;
    border-left:solid 1px #EFEFEF;
    border-right:solid 1px #EFEFEF;
    .favorite_icon {
      height:30px;
      float:left;
      width:100%;
      .button {
        background:transparent;
        border:none;
        cursor: pointer;
        outline: none;
      }
      .glyphicon-heart {
        padding-left:15px;
        font-size:25px;
        color:red;
       }
      .glyphicon-heart-empty {
        padding-left:15px;
        font-size:25px;
        color:#262626;
       }
     }
   }
    .favorite_count {
      float:left;
      height:30px;
      width:614px;
      color:#262626;
      font-weight:600;
      background-color:#FFFFFF;
      border-left:solid 1px #EFEFEF;
      border-right:solid 1px #EFEFEF;
      padding-left:20px;
     }
  .content {
    background-color:#ffffff;
    display:flex;
    border-bottom:solid 1px #EFEFEF;
    border-left:solid 1px #EFEFEF;
    border-right:solid 1px #EFEFEF;
    height:155px;
    width:614px;
  }
  .timestamp {
    color: $gray-light;
    position:relative;
    top:-30px;
    left:20px;
    display: flex;
    font-size:10px;
  }
  .delete_link {
    position:relative;
    left:550px;
    top:-50px;
  }
}

.feeds {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.signup_message {
  font-size:12px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* modal_window */
.modal_window {
  border:solid 1px #DBDBDB;
  list-style:none;
  width:510px;
  text-align:center;
  .modal_list {
    border:solid 0.5px #DBDBDB;
    width:510px;
    height:51px;
    padding-top:14px;
    &:hover {
      background-color:#EFEFEF;
    }
    .modal_text {
      color:#262626;
      font-size:16px;
      font-weight:400;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


